<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Inferno POST</title>
</head>
<body>
<FORM action="{{ url }}" method="post">
    <P>
        <LABEL for="args1">YAML encoded args: </LABEL>
        <INPUT type="text" id="args1"><BR>
        <LABEL for="args2">More YAML args: </LABEL>
        <INPUT type="text" id="args2"><BR>
        <LABEL for="args3">More args: </LABEL>
        <INPUT type="text" id="args3"><BR>
        <INPUT type="submit" value="Send">
    </P>
</FORM>
</body>
</html>